<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        background: url("D:/Nawaal/coding/ProjectMota/Workable Backgrounds/ProjectMotaWorkableTemplates/1.png") no-repeat center center fixed;
     	background-size: cover;
      }

    </style>
  </head>
  <body>
   	<center>
	    <form>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		   <br>
		    <table>
		      <tr>
		        <td>
		          username:
		        </td>
		        <td>
		          <input type="text" placeholder="enter username" size="87">
		        </td>
		      </tr>
		    </table>
	    </form>
	</center>
  </body>
</html>